body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d84646;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

#root {
  width: 100%;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: rgb(161, 131, 131);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  text-align: center;
}

button {
  background-color: #2f418d;
  border: none;
  padding: 0.5rem 1rem;
  margin: 1rem 0.5rem 0 0.5rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

button:hover {
  background-color: #f7c948;
}

input {
  padding: 0.5rem;
  margin: 1rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

img {
  width: 100px;
  transition: transform 0.2s ease;
}

button img:hover {
  transform: scale(1.1);
}

ul {
  padding-left: 1.5rem;
  list-style-type: disc;
  text-align: left;
}

li {
  margin-bottom: 0.5rem;
}
